<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# My Jupyter Notebook on IBM Warson Studio

**Raul, Student**

*I'm interested in data scientist because i think that is going to be the best job in a future and i have a good time analyzing the data and creating machine learning models. Machine learning is a powerful tool that can solve many problems that normal lagic can't do it*

### The code is going to sum 1 + 1

In [1]:
1 + 1

2

<ol>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ol>

<a href="https://www.google.com">Link to Google</a>

<table>
<tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th> 
</tr>

<tr>
    <td>1</td> 
    <td>2</td> 
    <td>3</td>
</tr>

<tr>
    <td>4</td> 
    <td>5</td> 
    <td>6</td>   
</tr>

</table>